html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

/* TODO: Edit the properties below to customize your website! */
body {
  background-color: #c8d6af;

  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 30pt;
  text-align: center;
  margin: 50px 50px 30px 50px;
}

p {
  font-size: 15pt;
  width: 80%;
  text-align: center;
  margin: 10px 50px 30px;
}

a {
  width: 80%;
  display: block;
  text-align: center;
  margin: 10px auto 30px;
}

.bubble {
  background-color: white;
  border-radius: 10px;

  width: 80%;
  padding: 5px 0;
  margin: 50px 0 10px 0;
}

/* Edit me to change the appearance of the button! */
button {
  font-size: 15pt;

  background-color: #f2d0a4;
  border: none;
  /* for rounded corners */
  border-radius: 20px;

  width: 150px;
  height: 50px;
  margin: 20px auto;
  display: block;
}

button:hover {
  background-color: #ffeccc;
  cursor: pointer;
}

/* The camera */
#webcam-container {
  display: flex;
  justify-content: center;
}

/* The labels */
#label-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12pt;

  margin: 25px;
}
